<!doctype html>
<html lang="en">
  <%- include('masterPage/head.ejs'); -%>
  <body>
    <%- include('masterPage/narbar.ejs'); -%>

    <div class="container-fluid">
      <div class="row">
        
        <%- include('masterPage/left.ejs'); -%>
        <main id="main-list-room" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 row my-main">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 col-md-12">
            <h1 class="h2 center-block">Danh sách các bàn</h1>
          </div>
          <div class="col-sm-12">
            <div class="row">
                <div id="my-div-table-id-1" class="col-lg-3 col-xs-6 my-tables border-left-grey">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <p id="id-ban-1-p" class="my-table-name-p">Bàn 1</p>
                    </div>
                    <div class="icon">
                      <img id="table-0-img" class="table-image"/>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div id="my-div-table-id-2" class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <p id="id-ban-2-p" class="my-table-name-p">Bàn 2</p>
                    </div>
                    <div class="icon">
                      <img id="table-1-img" class="table-image"/>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div id="my-div-table-id-3" class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <p id="id-ban-3-p" class="my-table-name-p">Bàn 3</p>
                    </div>
                    <div class="icon">
                      <img id="table-2-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div id="my-div-table-id-4" class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <p id="id-ban-4-p" class="my-table-name-p">Bàn 4</p>
                    </div>
                    <div class="icon">
                      <img id="table-3-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div id="my-div-table-id-5" class="col-lg-3 col-xs-6 my-tables border-left-grey">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <p id="id-ban-5-p" class="my-table-name-p">Bàn 5</p>
                    </div>
                    <div class="icon">
                      <img id="table-4-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div id="my-div-table-id-6" class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <p id="id-ban-6-p" class="my-table-name-p">Bàn 6</p>
                    </div>
                    <div class="icon">
                      <img id="table-5-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div id="my-div-table-id-7" class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <p id="id-ban-7-p" class="my-table-name-p">Bàn 7</p>
                    </div>
                    <div class="icon">
                      <img id="table-6-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div id="my-div-table-id-8" class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <p id="id-ban-8-p" class="my-table-name-p">Bàn 8</p>
                    </div>
                    <div class="icon">
                      <img id="table-7-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div id="my-div-table-id-9" class="col-lg-3 col-xs-6 my-tables border-left-grey">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <p id="id-ban-9-p" class="my-table-name-p">Bàn 9</p>
                    </div>
                    <div class="icon">
                      <img id="table-8-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div id="my-div-table-id-10" class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <p id="id-ban-10-p" class="my-table-name-p">Bàn 10</p>
                    </div>
                    <div class="icon">
                      <img id="table-9-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div id="my-div-table-id-11" class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <p id="id-ban-11-p" class="my-table-name-p">Bàn 11</p>
                    </div>
                    <div class="icon">
                      <img id="table-10-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div id="my-div-table-id-12" class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <p id="id-ban-12-p" class="my-table-name-p">Bàn 12</p>
                    </div>
                    <div class="icon">
                      <img id="table-11-img" class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
            </div>
          </div>
          <p id="myTextt"></p>
          <!--<div class="col-sm-4">
          </div>-->
        </main>
        <main id="main-room" style="display: none;" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 row">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 col-md-12">
            <h1 class="h2 center-block">Cờ caro online</h1><h3>
          </div>
          <div class="col-sm-12">
            <div id="khung-ban-co-1" class="align-items-center pb-2 mb-3 khung-ban-co">
            </div>
            <h3 class="notice-result"></h3>
            <div class="div-option">
              <button id="btn-ready-gomoku-online" type="button" class="unready btn btn-success btn-play">Sẵn sàng</button>
              <p class="p-wait-player">Đang chờ đối thủ </p>
              <div id="div-list-player"></div>
            </div>
          </div>
          <p id="myTextt"></p>
          <!--<div class="col-sm-4">
          </div>-->
        </main>
      </div>
    </div>
    
    <!--myscript-->
    <script src="../plugins/jquery/jquery.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script src="../js/listTableGomokuOnline.js"></script>
    <script src="../js/processGomokuOnline.js"></script>
    <script src="../js/event.js"></script>
    <!--my css-->
    <link href="../css/listTableGomokuOnline.css" rel="stylesheet">
    <%- include('masterPage/bottom.ejs'); -%>
  </body>
</html>
