<!doctype html>
<html lang="en">
    <script defer src="socket.io/socket.io.js"></script>
  <%- include('masterPage/head.ejs'); -%>
  <body>
    <%- include('masterPage/narbar.ejs'); -%>

    <div class="container-fluid">
      <div class="row">
        
        <%- include('masterPage/left.ejs'); -%>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 row my-main">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 col-md-12">
            <h1 class="h2 center-block">Danh sách các bàn</h1>
          </div>
          <div class="col-sm-12">
            <div class="row">
                <div class="col-lg-3 col-xs-6 my-tables border-left-grey">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <p id="id-ban-1-p" class="my-table-name-p">Bàn 1</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"/>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <p id="id-ban-2-p" class="my-table-name-p">Bàn 2</p>
                    </div>
                    <div class="icon">
                      <img src="../Images/tables/table-0.png" class="table-image"/>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <p id="id-ban-3-p" class="my-table-name-p">Bàn 3</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <p id="id-ban-4-p" class="my-table-name-p">Bàn 4</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-lg-3 col-xs-6 my-tables border-left-grey">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <p id="id-ban-5-p" class="my-table-name-p">Bàn 5</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <p id="id-ban-6-p" class="my-table-name-p">Bàn 6</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <p id="id-ban-7-p" class="my-table-name-p">Bàn 7</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <p id="id-ban-8-p" class="my-table-name-p">Bàn 8</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-lg-3 col-xs-6 my-tables border-left-grey">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <p id="id-ban-9-p" class="my-table-name-p">Bàn 9</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <p id="id-ban-10-p" class="my-table-name-p">Bàn 10</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <p id="id-ban-11-p" class="my-table-name-p">Bàn 11</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6 my-tables">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <p id="id-ban-12-p" class="my-table-name-p">Bàn 12</p>
                    </div>
                    <div class="icon">
                      <img class="table-image"></img>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
            </div>
          </div>
          <p id="myTextt"></p>
          <!--<div class="col-sm-4">
          </div>-->
        </main>
      </div>
    </div>
    
    <!--myscript-->
    <script defer src="plugins/jquery/jquery.js"></script>
    <script defer src="js/listTableGomokuOnline.js"></script>

    <!--my-css-->
    <link href="css/listTableGomokuOnline.css" rel="stylesheet">
    <%- include('masterPage/bottom.ejs'); -%>
  </body>
</html>
