  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Nguyen Thanh Tung">
    <link rel="icon" href="../bootstrap/cheess.png">

    <title>Tung nguyen Cheess</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--font-awesome-->
    <link rel="stylesheet" href="../bootstrap/font-awesome/css/all.min.css"/>

    <!--forAlert-->
    <link rel="stylesheet" href="../bootstrap/sweetAlert2/bootstrap-4.min.css">
    <script src="../bootstrap/sweetAlert2/sweetalert2.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="../css/mystyle.css" rel="stylesheet">
    <link href="../css/editBootstrap.css" rel="stylesheet">


   


  </head>